<div class="relative w-full h-full overflow-y-auto min-h-screen">
    <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 bg-gray-900">
        <div class="col-span-full xl:col-auto">
            <ad-dashboard-users />
        </div>
        <div class="col-span-2">
            <ad-dashboard-order-overview />
        </div>
    </div>
    
    <div class="grid gap-4 px-4 mb-4 md:grid-cols-2 xl:grid-cols-3">
        <div class="p-4 space-y-6 bg-gray-800 border border-gray-700 rounded-lg shadow-sm sm:py-6">
            <ad-dashboard-product-stats />
        </div>
        <div class="p-4 space-y-6 bg-gray-800 border border-gray-700 rounded-lg shadow-sm sm:py-6">
            <ad-dashboard-last-email />
        </div>
        <div class="p-4 space-y-6 bg-gray-800 border border-gray-700 rounded-lg shadow-sm sm:py-6">
            <ad-dashboard-target-stats />
        </div>
    </div>
    <div class="grid grid-cols-1 px-4 mb-4">
        <ad-dashboard-last-orders />
    </div>
</div>