<div class="relative w-full h-full overflow-y-auto min-h-screen">
    <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 bg-gray-900">
        <div class="col-span-full xl:col-auto">
            <ad-dashboard-users />
        </div>
        <div class="col-span-2">
            <ad-dashboard-order-overview />
        </div>
    </div>
    
    <div class="grid gap-4 px-4 mb-4 md:grid-cols-2 xl:grid-cols-3">
        <div class="p-4 space-y-6 bg-gray-800 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:py-6">
            <ad-dashboard-product-stats />
        </div>
        <div
            class="p-4 space-y-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
                <h3>Card header</h3>
            </div>
            <div class="h-16 px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
                <h3>Card body</h3>
            </div>
            <div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
                <h3>Card footer</h3>
            </div>
        </div>
        <div
            class="p-4 space-y-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
                <h3>Card header</h3>
            </div>
            <div class="h-16 px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
                <h3>Card body</h3>
            </div>
            <div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
                <h3>Card footer</h3>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 px-4 mb-4">
        <ad-dashboard-last-orders />
    </div>
</div>