<div class="relative md:my-3 md:mx-5">
    <ad-ui-breadcrumb [breadcrumbs]="breadcrumbs" header="User details"></ad-ui-breadcrumb>

    <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1 rounded-lg">
            <div class="flex flex-col items-center gap-4">
                <img class="w-64 h-64 mb-3 rounded-full shadow-lg" [src]="user.avatar"
                    [alt]="UserModelUtil.fullName(user)" />

                <label for="dropzone-file"
                    class="flex flex-col items-center justify-center w-40 h-10 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-base justify-center">
                        <p class="mb-0 text-sm text-gray-500 dark:text-gray-400">
                            <ad-ui-icon icon="upload" color="light-blue" />
                            Upload
                        </p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                </label>

                <div class="flex flex-col gap-1 items-center">
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                        {{ UserModelUtil.fullName(user) }}
                    </h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">
                        {{ user.jobTitle }}
                    </span>
                    <span class="text-sm text-gray-500 dark:text-gray-400">
                        {{ user.email }}
                    </span>
                    <span class="text-sm text-gray-500 dark:text-gray-400">
                        Registered at {{ user.registeredAt | date: 'dd.MM.yyyy' }}
                    </span>
                </div>

                    <span class="inline-flex items-center bg-green-900 text-green-300 text-xs font-medium px-2.5 py-0.5
                        rounded-full" *ngIf="!user.blocked && user.active">
                        <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
                        Active
                    </span>

                    <span
                        class="inline-flex items-center bg-green-900 text-green-300 text-xs font-medium px-2.5 py-0.5 rounded-full"
                        *ngIf="!user.blocked && !user.active">
                        <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
                        Inactive
                    </span>

                    <span
                        class="inline-flex items-center bg-green-900 text-green-300 text-xs font-medium px-2.5 py-0.5 rounded-full"
                        *ngIf="user.blocked">
                        <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
                        Blocked
                    </span>
            </div>
        </div>

        <div class="flex-[2_2_0] rounded-lg p-5">
            <ad-ui-line text="Personal information" />

            <div class="grid grid-cols-2 gap-6">
                <div>
                    <label for="firstName"
                        class="block mb-2 text-sm font-medium text-white">First name</label>
                    <input type="text" id="firstName" [(ngModel)]="user.firstName" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('firstName'), 'border-gray-600': validator.isPropertySatisfied('firstName') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="lastName"
                        class="block mb-2 text-sm font-medium text-white">Last name</label>
                    <input type="text" id="lastName" [(ngModel)]="user.lastName" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('lastName'), 'border-gray-600': validator.isPropertySatisfied('lastName') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="jobTitle"
                        class="block mb-2 text-sm font-medium text-white">Job title</label>
                    <input type="text" id="jobTitle" [(ngModel)]="user.jobTitle" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('jobTitle'), 'border-gray-600': validator.isPropertySatisfied('jobTitle') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="email"
                        class="block mb-2 text-sm font-medium text-white">Email</label>
                    <input type="text" id="email" [(ngModel)]="user.email" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('email'), 'border-gray-600': validator.isPropertySatisfied('email') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="birthDate"
                        class="block mb-2 text-sm font-medium text-white">Birth date</label>
                    <input type="text" id="birthDate" [value]="birthDate" 
                        (blur)="onDateChanged($event.target.value)"
                        placeholder=" "
                        datepicker
                        datepicker-format="dd.mm.yyyy"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('birthDate'), 'border-gray-600': validator.isPropertySatisfied('birthDate') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>
            </div>

            <ad-ui-line text="Address" />

            <div class="grid grid-cols-3 gap-6">

                <div class="col-span-3">
                    <label for="street"
                        class="block mb-2 text-sm font-medium text-white">Street</label>
                    <input type="text" id="street" [(ngModel)]="user.street" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('street'), 'border-gray-600': validator.isPropertySatisfied('street') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="zipCode"
                        class="block mb-2 text-sm font-medium text-white">Postal code</label>
                    <input type="text" id="zipCode" [(ngModel)]="user.zipCode" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('zipCode'), 'border-gray-600': validator.isPropertySatisfied('zipCode') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="city"
                        class="block mb-2 text-sm font-medium text-white">City</label>
                    <input type="text" id="city" [(ngModel)]="user.city" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('city'), 'border-gray-600': validator.isPropertySatisfied('city') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>

                <div>
                    <label for="country"
                        class="block mb-2 text-sm font-medium text-white">Country</label>
                    <input type="text" id="country" [(ngModel)]="user.country" (change)="onChanged()"
                        [ngClass]="{ 'border-red-600': !validator.isPropertySatisfied('country'), 'border-gray-600': validator.isPropertySatisfied('country') }"
                        class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-0 block w-full p-2.5" />
                </div>
            </div>

            <div class="flex flex-row-reverse w-full mt-8">
                <ad-ui-button text="Save" icon="save" color="green" [disabled]="!validator.isValid()" />
                <ad-ui-button text="Unblock" icon="unlock" *ngIf="UserModelUtil.userStatus(user) === 'blocked'" />
                <ad-ui-button text="Block" icon="lock" *ngIf="UserModelUtil.userStatus(user) !== 'blocked'" />
            </div>

        </div>
    </div>


    