<div class="relative md:my-3 md:mx-5">
    <ad-ui-breadcrumb [breadcrumbs]="breadcrumbs" header="User details"></ad-ui-breadcrumb>

    

    <div class="flex max-sm:flex-col gap-2 h-auto">
        <div class="p-2 h-fit rounded-lg flex-1 max-sm:hidden">
            <div class="w-full text-gray-400 inline-flex justify-center items-center gap-2 mb-2 py-2">
                <ad-ui-icon icon="filter" color="gray" />
                Filter
            </div>
            <hr class="w-full h-px bg-gray-700 border-0" />
            <div class="text-gray-400 py-4 max-sm:z-40 max-sm:fixed">
                <ad-product-list-filter [products]="result.items" (filter)="onFilterChanged($event)" *ngIf="result.items.length > 0" />
            </div>
        </div>

        <div class="sm:hidden">
            <button id="filter-dropdown-button" data-dropdown-toggle="filter-dropdown" class="inline-flex items-center gap-2 w-full py-2 px-4 text-center text-gray-400 bg-gray-800 rounded-lg md:mb-0 focus:ring-0 focus:outline-none" type="button">
                <ad-ui-icon icon="filter" color="gray" />
                    Filter
            </button>
                
            <div id="filter-dropdown" class="z-10 hidden w-full px-4 py-2 bg-gray-700 rounded-lg shadow-lg text-gray-400">
                <ad-product-list-filter [products]="result.items" (filter)="onFilterChanged($event)" *ngIf="result.items.length > 0" />
            </div>
        </div>

        <div class="xl:flex-[3_3_0] flex-[3_3_0]">
            <div class="flex justify-between w-full mb-2">
                <div class="flex flex-wrap gap-2">
                    <ng-container  *ngIf="filter.filter.length > 0">
                        <ng-container *ngFor="let item of filter.filter">
                            <span id="badge-dismiss-dark" class="inline-flex items-center px-2 h-max text-sm font-medium text-gray-800 bg-gray-100 rounded dark:bg-gray-700 dark:text-gray-300">
                                <span class="capitalize">{{ item.field }}</span>: {{item.value | truncate: 30 }}
                                <button type="button" class="inline-flex items-center p-1 ms-2 text-sm text-gray-400 bg-transparent rounded-sm hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-gray-300" data-dismiss-target="#badge-dismiss-dark" aria-label="Remove">
                                    <ad-ui-icon icon="x" color="light-blue" (click)="onClearFilterClicked(item.field)" />
                                    <span class="sr-only">Remove badge</span>
                                </button>
                            </span>
                        </ng-container>
        
                        <span class="text-gray-200">|</span>
                        <span id="badge-dismiss-dark" class="inline-flex items-center px-2 h-max text-sm font-medium text-gray-800 bg-gray-100 rounded dark:bg-gray-700 dark:text-gray-300">
                            Remove all
                            <button type="button" class="inline-flex items-center p-1 ms-2 text-sm text-gray-400 bg-transparent rounded-sm hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-gray-300" data-dismiss-target="#badge-dismiss-dark" aria-label="Remove">
                                <ad-ui-icon icon="x" color="gray" (click)="onClearFilterClicked('')" />
                                <span class="sr-only">Remove badge</span>
                            </button>
                        </span>
                    </ng-container>
                </div>
                <div>
                    <button id="sort-drowndown" data-dropdown-toggle="sort-dropdown" class="py-2.5 px-5 text-sm font-medium text-gray-200 focus:outline-none bg-gray-800 rounded-lg border border-gray-600 hover:bg-gray-700 hover:text-blue-700 focus:z-10 focus:ring-0" type="button">
                        <ad-ui-icon icon="orderBy" color="light-blue" />
                    </button>
                    <div id="sort-dropdown" class="z-10 hidden bg-gray-700 divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="text-sm text-gray-200 rounded-lg" aria-labelledby="sort-drowndown">
                            <li class="hover:rounded-lg hover:bg-gray-600">
                                <span class="block px-4 py-2 cursor-pointer" (click)="onSortChanged('term', 'asc')">Term (A to Z)</span>
                            </li>
                            <li class="hover:rounded-lg hover:bg-gray-600">
                                <span class="block px-4 py-2 cursor-pointer" (click)="onSortChanged('term', 'desc')">Term (Z to A)</span>
                            </li>
                            <li class="hover:rounded-lg hover:bg-gray-600">
                                <span class="block px-4 py-2 cursor-pointer" (click)="onSortChanged('price', 'asc')">Price (lowest)</span>
                            </li>
                            <li class="hover:rounded-lg hover:bg-gray-600">
                                <span class="block px-4 py-2 cursor-pointer" (click)="onSortChanged('price', 'desc')">Price (highest)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-col-4 gap-4 mb-4">
                <div class="rounded-lg border border-gray-700 bg-gray-800 p-6 shadow-sm"
                    *ngFor="let product of result.items">
                    <div class="h-56 w-full">
                        <ad-ui-carousel [slides]="product.images"></ad-ui-carousel>
                    </div>

                    <div class="pt-6">
                        <div class="mb-4 flex items-center justify-between gap-4">
                            <span class="me-2 rounded bg-gray-700 px-2.5 py-0.5 text-xs font-medium text-gray-300"> Up
                                to {{
                                product.discount }}% off </span>
                        </div>

                        <a [routerLink]="['/products', product.id]"
                            class="text-lg font-semibold leading-tight text-white hover:underline">{{ product.name
                            }}</a>

                        <div class="mt-2 flex items-center gap-2">
                            <ad-ui-rating [rating]="product.rating" />
                            <p class="text-sm font-medium text-white">({{ product.rating }})</p>
                        </div>

                        <ul class="mt-2 flex flex-col items-start md:flex-row md:items-center justify-between gap-4">
                            <li class="flex items-center gap-2">
                                <ad-ui-icon [icon]="CategoryUtil.getIcon(product.category)" color="white" />
                                <p class="text-sm font-medium text-gray-400">{{ product.category }}</p>
                            </li>

                            <li class="flex items-center gap-2">
                                <ad-ui-icon icon="clock" color="white" />
                                <p class="text-sm font-medium text-gray-400">{{ product.createdAt | date: 'dd.MM.yyyy'
                                    }}</p>
                            </li>
                        </ul>

                        <div class="mt-4 flex items-center justify-between gap-4">
                            <p class="text-xl leading-tight text-white" innerHTML="{{ getProductPrice(product) }}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex items-center w-full justify-evenly">
                <ad-ui-paginator [currentPage]="filter.skip / filter.take" [pageSize]="filter.take"
                    [length]="result.totalCount" (page)="onPageChanged($event)"></ad-ui-paginator>
            </div>
        </div>
    </div>

</div>